*.project
*.settings
*.classpath
*/target
storm-local
web/src/main/webapp/images/issues/Thumbs.db
web/src/main/webapp/images/Thumbs.db
web/src/main/webapp/templates/issue_timeline/css/images/Thumbs.db
web/src/main/webapp/css/images/Thumbs.db
