body {
	min-width: 750px;
}
.btn_round{
	width: 150px; !important;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px;
	margin-bottom:8px
 }

 .wrapper {
	 float: left;
	 margin-top: 20px;
	 padding-left: 10px;
	 padding-top: 3px;
	 width: 100%;
}

#menu_new {
	top-padding: 55px;
}

.text_margin_bottom{
	margin-bottom:5px;
}

#container_inside {
	position: relative;
	width: 800px;
}
.container{
	padding-right:2px;
	padding-left:2px;
	margin-right:2px;
	margin-left:10px;
	position: relative}

#node_div, #person_div , #attach_div{
	position: absolute;
	width: 180px;
}

/*
#assign_pbadmin{
position: absolute;
width: 200px;
padding-left:12px;
left: 650px;
border-left: 1px solid black ;
}
 */

	#pbadmin_list_current{
		position: absolute;
		width: 200px;
		padding-left:12px;
		left: 650px;
		border-left: 1px solid #D2D2D2 ;
}

#pbadmin_list_all{
	position: absolute;
	width: 200px;
	padding-left:12px;
	padding-top:250px;
	left: 650px;
	border-left: 1px solid #D2D2D2 ;
}

#searchResultsN, #searchResultsP{
	position: absolute;
	width: 400px;
}

#node_div {
	left: 0;
	padding-left:12px
}
#person_div {
	left: 0px;
	padding-top:180px;
	padding-left:12px
}
#searchResultsN {
	left: 225px;
	/*visibility: hidden;*/
	padding-left:12px;
	padding-right:12px;
	padding-bottom:40px
}
#searchResultsP {
	left: 225px;
	visibility: hidden;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:40px
}
#attach_div{
	left: 0px;
	padding-top:420px;
	padding-left:12px;
	padding-bottom:12px
}

.box_shadow_dim{
	box-shadow: 2px 2px 5px #CCC
}	

.text-footer{
	padding-bottom:9px;
	width:180px;
	margin:0px 0 10px;
	border-bottom:2px solid #ccc;
	color:#FF9933;
}

.text-footer-extended{
	padding-bottom:9px;
	width:250px;
	margin:0px 0 20px;
	border-bottom:2px solid #ccc;
	color:#FF9933;
}

.saffron_text{
	color:#FF9933;
	font-size: 18px;
}

.border-lr {
	border-left: 1px solid #D2D2D2 ;
	border-right: 1px solid #D2D2D2 ;
  }

  .border-right{
	  border-right: 1px solid #D2D2D2 ;
}
.border-left{
	border-left: 1px solid #D2D2D2 ;
}

.headerbox{
	margin-top:0px;
	margin-bottom:5px;
	border: 1px solid black;
	border-left:0;
	border-right:0;
	border-top: 0;
	box-shadow: 0px 5px 5px #888888;
	/*background-color: #EEEEE2;*/
	background-color: #FF9933;
	border-width:2px;
	border-radius: 0px;
	border-color: #727272;
	color: #D2D2D2;
	text-decoration: none;
	position:relative;
}

#headerul ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#headerul ul li { display: inline; }


.header{
	position:relative;
	padding-left: 20px;
}

.textbox { 
	background: #FFF url(http://html-generator.weebly.com/files/theme/input-text-9.png) no-repeat 4px 4px; 
	border: 1px solid #999; 
	outline:0; 
	padding-left: 25px;
	height:26px; 
	width: 174px !important;
 } 

 .textbox_disabled { 
	 border: 1px solid #727272; 
	 outline:0; 
	 padding-left: 25px;
	 height:26px; 
	 width: 174px !important;
 } 

 table, th, td {
	 border-collapse: collapse;
	 table-layout: fixed;
	 text-overflow: ellipsis;
	 overflow: hidden;
	 width:100%
}

table td, table th {
border: 1px solid #D2D2D2;
}
	 
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.scrollcontainer{
        height: 800px; 
        overflow-y: auto;  
        overflow-x: hidden;  
 }
 
th, td {
	padding: 5px;
	text-align: left;
	overflow-x: hidden;
}

/* td:hover {
	color: #FF6622;
	word-wrap: break-word;
} */
/*tr:nth-child(even) {
	background-color: #EEEEEE;
}*/

/*

@-webkit-keyframes myfirst {
0%   {background: #ff9933;}
50%  {background: #FFFFFF;}
100% {background: #138808;}
}

	@keyframes myfirst {
	0%   {background: #ff9933;}
	50%  {background: #FFFFFF;}
	100% {background: #138808;}
}

	.animheader{
	background: white;
	position: relative;
	-webkit-animation-name: myfirst;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	animation-name: myfirst;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	animation-play-state: running;
}
 */
 
 /* location-node page settings */

#useronclickbtn{
	position: absolute;
	width: 150px;
	left: 310px;
	padding-left:12px
}

#tab1 {
	position: absolute;
	width: 200px;	
	left: 75px;
	padding-left:12px
}

#kml_files {
	position: absolute;
	width: 350px;
	left: 525px;
	padding-left:12px
}

#map-canvas {
	left: 0px;
	margin-left:70px;
	padding-top: 310px;
	/*visibility: hidden;*/
	padding-left:0px;
	width: 500px;
	height: 500px ;
}

.kml_inp_btn{
	width: 100px; !important;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px;
	text-align:center;
	margin-bottom:8px
}

#loc_type{
	position: absolute;
	width: 800px;	
	left: 0px;
	padding-left:12px
}

#category1{
	position: absolute;
	left: 0px;
	width: 700px;
	padding-left:12px
}

#party_div{
	position: absolute;
	left: 0px;
	width: 700px;
	padding-left:12px
}

#political_admin_type_div{
	position: absolute;
	left: 0px;
	width: 800px;
	padding-left:12px
}

#executive_departments_div{
	position: absolute;
	left: 0px;
	width: 800px;
	padding-left:12px
}

table.table_topdown_border tr:last-child td {
    border-style: solid;
    border-bottom-width: 2px;
}

table.table_topdown_border tr:first-child th{
    border-style: solid;
    border-top-width: 2px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
background-color: #FF9933;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
box-shadow: 0px 4px 4px #888888;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
background-color: #FF9933;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
box-shadow: 0px 4px 4px #888888;
}

.navbar-nav>li>.dropdown-menu {
margin-top: 0;
border-radius: 20px;
}

.tablewidth50pc{
 width: 50%;
 table-layout: fixed;
border: 1px solid #D2D2D2;
border-top: 0;
border-left: 0;
border-right: 0;
}

.tablewidth50pc:hover, .tablewidth50pc:active{
width: 50%;
table-layout: fixed;
border: 1px solid #22D2D2;
border-top: 0;
border-left: 0;
border-right: 0;
}

.left_float{
float:left;
}


/* updates */

.instruction_hover span{
    float:right;
	text-align: right;
	padding:2px 6px;
	background-color:#78CCD2;
	color:#186C72;
	border-radius:30px;
	margin:3px;
	cursor:default;
}

/* Pseudo elements can even access attributes of their parent element */

#guidelines_span {
  display: none;
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
}

#instruction_hover:hover #guidelines_span {
  display: block;
}

.subscript {
/*    vertical-align:bottom; */
    font-size:1.6em;
	color: #C5C5C5;
    }