<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>${catalina.home}/logs/eswaraj-leader.log</File>
    <Encoding>UTF-8</Encoding>
    <encoder>
      <pattern>%d %t %p [%c] - %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>20</maxIndex>
      <FileNamePattern>${catalina.home}/logs/eswaraj-leader.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>50MB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web.servlet.mvc.method.annotation" level="INFO"/>
  <logger name="net.spy.memcached.MemcachedConnection" level="WARN"/>
  <logger name="org.springframework.data.neo4j.rest" level="DEBUG"/>
  <logger name="org.springframework.data.neo4j.repository" level="DEBUG"/>
  <logger name="com.eswaraj.base.aspect" level="INFO"/>
  <logger name="org.springframework.web.servlet" level="INFO"/>
  <logger name="com.next" level="INFO"/>
  <logger name="com.eswaraj" level="INFO"/>
  <logger name="org.springframework.web.client.RestTemplate" level="DEBUG"/>
  <logger name="org.springframework.data.neo4j.support.query" level="DEBUG"/>
  <root level="ERROR">
    <appender-ref ref="rollingFile"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>