
/*list row starts*/
.list-row {
    padding: 15px;
	width: 100%;
	float:left;
	margin-bottom: 15px;
	background-color: #FFF;
	opacity: 0.85;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px 1px rgba(50, 50, 50, 0.2);
}

.list-row:hover {
background-color: #F8F8F8;
}

.list-row .innerblock {
    padding: 0px 10px 10px 10px;
	margin-top: 0px;
}

.profile_pic_adjust{
    padding: 0px;
    margin: 0px;
}

.list-row .issue-pic {
    position: relative;
	margin-bottom:20px;
    width: 564px;
}

.list-row .issue-pic img {
	border: 1px solid #d2d2d2;
	border-radius: 20px;
	padding: 5px 5px;
	display: block;
    max-height: 325px;
    width: 564px;
    height: auto;
	margin-top:10px;
}

.list-row .innerblock .profile-pic img {
    max-width: 55px;
    width: auto;
    height: auto;
    border-radius: 0%;
    border: 0px solid #ccc;
}

.list-row .innerblock .profile-info {
    overflow: hidden;
    margin: 2px 2px 10px 2px;
	padding: 2px 2px 10px 2px;
	}
	
.issue-info  {
    margin: 0px;
	padding: 0px;
}
.issue-info .desc {
    margin: 0px;
}
.issue-info .classify .badge {
    font-size: 11px;
}
.issue-info .desc.elipsis {
    overflow: auto;
    white-space: normal;
    max-width: 100%;
	text-align: justify;
    text-justify: inter-word;
	color: #7D7D7D;
}
.whom {
    font-size: 12px;
    line-height: 100%;
}
.issue-scope{
	text-decoration: none;
	font-size: 14px;
  font-family: "Arimo",helvetica;
	color: #505050;
	font-weight: bold;
}

.issue-scope-type{
	text-decoration: none;
	font-size: 15px;
	font-family: "Arimo",helvetica;
	vertical-align: -5px; 
	margin-right: 2px;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #428bca;
}

.issue_type_pic{
	max-width: 30px;
	width: auto;
	height: auto;
	border-radius: 0%;
	border: 0px solid #ccc;
}

.username{
	color: #505050;
	font-weight: bold;
	margin-right: 0px;
	padding-right: 0px;
}

.username_adjust{
	margin: 0px;
	font-size: 15px;
	color: #505050;
}

.twitter-share-button {
	margin-bottom: -10px;
}

.icon_resize{
width:25px;
height:25px;
}

.postcurrentstatus{
    max-width: 30px;
    width: auto;
    height: auto;
	}

.posttimestatus{
    max-width: 20px;
    width: auto;
    height: auto;
}

.whenwhere{
font-size: 90%;
margin: 0px;
}

.user_feed_colsm{
padding-right: 0px; 
padding-left: 0px;
}

.analytics_data_colsm{
padding-right: 0px;
padding-left: 20px;
}

#chart_bar_c, #chart_ts, #chart_pie_c{
border-bottom: 1px solid #d2d2d2;
padding-bottom: 10px;
margin-bottom: 10px;
height: 390px;
}

.list_view_text_margin, .map_view_text_margin, .ay_view_text_margin{
text-decoration: none;
font-size: 15px;
float: right;
}

.list_view_text_margin{
margin-right: 25%;
}

.map_view_text_margin{
margin-right: 24%;
}

.ay_view_text_margin{
margin-right: 15%;
}

.glyphicon_margin{
margin-top: 15%;
margin-left: 35%;
font-size: 50px;
}

.frame_glyphicon{
float: left;
background-color: #E8E8E8;
margin: 0px 10px 0px 10px;
}

.frame_glyphicon:hover{
background-color: #C2C2C2;
border: 2px solid #BABABA;
}

.frame_glyphicon:active{
background-color: #C2C2C2;
border: 2px solid #BABABA;
}

.views_div{
padding: 0px 30px 0px 50px;
}

.clearfix{
margin-bottom: 15px;
margin-top: 25px;
}

.left_filter{
width: 100%;
}

.right_profile{
margin-top: 25px;
margin-left: 0px;
margin-bottom: 50px;
width: auto;
height: auto;
}

.listing-wrapper{
margin-left: 0px;
width: auto;
}

abbr[title], abbr[data-original-title] {
cursor: auto;
border-bottom: 0px dotted #777; 
}
abbr[title] {
border-bottom: 0px dotted;
}

.politician_image{
width: 100px;
height: 100px;
max-width: 100px;
max-height: 100px;
}

.mla-profile{
text-align: center;
margin-bottom: 35px;
}

#panel {
position: relative;
  width: 100%;
  top: 0%;
  left: 0%;
  margin-left: 0px;
  z-index: 5;
  }

.loc_head_text{
color: #C2C2C2;
text-align: center;
}

.listing-wrapper .loc_head_text {
margin-bottom: 10px;
margin-top: 10px;
}

.text-limit{
	display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
	padding-right: 1px;
	}
	
.name_adjust{
	max-width: 32%;
	padding: 0px;
  margin: 0px;
}

.type_adjust{
	max-width: 45%;
	text-align: center;
  padding: 0px;
  margin: 0px;
}

.innerdiv-sharebtn {
font-size: 15px;
line-height: 200%;
float: right;
display: none;
}

.footer_pos{
position: absolute;
bottom: 0px; 
width: 100%; 
}

.profile-pic-comments img {
max-width: 30px;
width: auto;
height: auto;
border-radius: 50%;
border: 0px solid #ccc;
float: left;
}

.cons_issue_reporters_box_pic{
background-color: #ECE9E8;
height: 230px;
margin-bottom: 10px;
padding: 0px;
position: relative;
-webkit-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
-moz-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
}

.cons_issue_reporters_box_cover_quote{
height: 150px;
margin-top: 25px;
text-align: justify;
padding: 30px;
font-size: 13px;
font-family: cursive;
background: #FFFFFF;
-webkit-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
-moz-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
}

.profile-pic-padding{
padding: 15px;
}

.complaints_issue_pic{
width: 150px;
height: 150px;
border: 5px solid #D2D2D2;
border-radius: 30px;
margin-left: 30px;
}

.reporter-profile-pic{
width: 90px;
float: left;
border: 1px solid #ccc;

margin-top: -55px;
}

.center-align{
text-align: center;
}

.constituency_left_pane{
padding-left: 35px;
padding-right: 35px;
float: left;
margin-bottom: 40px;
}

.constituency_mid_pane{
float: left;
}

.constituency_right_pane{
margin-left: 10px;
margin-right: 10px;
float: left;
}

.listing-wrapper .pagination-wrapper {
    text-align: center;
	margin-bottom: 40px;
}

.cons_location_name{
width: 100%; 
float: left; 
margin: 0px;
}

.location_text_adjust{	
position: absolute;
color: #FFFFFF;
padding: 2px 2px 2px 10px;
color: #000;
font-weight: 700;
font-size: 25px;
}																

.location_image{
width: 100%;
float: left;
height: 150px;
}

.constituency_left_pane .bootstrap-tagsinput{

}

.carousel-inner .item{

left:50px;
}

#myCarousel{
width: auto;
}

.reporter_total_complaints{
clear: both;
float:left;
font-size: 12px;
margin-right: 20px;
margin-left: 10px;
}

.reporter_complaint_followers, .reporter_complaint_visited{
float: left;
font-size: 12px;
margin-right: 20px;
}

.platform_constituency_counter{
background-color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px 1px rgba(50, 50, 50, 0.2);
height: auto;
margin-bottom: 10px;
padding: 10px;
padding-left: 15px;
margin-top: 10px;
width: auto;
}

.total_cons_population,.total_cons_area,.total_voters,.total_const_count,.total_eswaraj_reg_voters,.total_eswaraj_const_coverage{
font-size: 12px;
}

.complaints_followers_counter{
text-align: center;
height: 50px;
position: absolute;
bottom: 10px;
}

.constituency_left_pane .left_filter {
clear: both;
}

.constituency_left_pane .left_filter  .subcat-search, .advanced-filter-subcategory, .advanced-filter-citzn-serv, .constituency_left_pane .left_filter .filter_category{
color: #FF3A00;
}

.advanced-filter-subcategory, .advanced-filter-citzn-serv{
cursor: pointer !important;
}

.p_c_counter_loc{
font-weight: 700;
width: 100%;
margin: 0px;
text-align: center;
margin-bottom: 8px;
}

.follow_eswaraj_box{
font-weight: 700;
width: 100%;
margin: 0px;
margin-bottom: 8px;
}

.social_media_sharing_buttons{
width: auto;
}

body > div.at4-share-outer-right.addthis-smartlayers.addthis-smartlayers-desktop{
display: none;
}
#at4-thankyou{
display: none;
}

.addthis_horizontal_follow_toolbox {
background: none;
}

.filter_citzn_serv, .filter_sys_lvl, .filter_temporal, .filter_spatial  {
color: #FF3100;
}

#atftbx > p > span {
color: #FF3100;
font-weight: 700;
}

.blue_color_text{
color: #428bca;
}

.red_orng_clr_text{
color: #FF3100;
font-weight: 700;
}

.grey_text{
color: #777;
}

#twitter-widget-0{
margin-top: 20px;
}

.list-group-item {
position: relative;
display: inline-block;
border-radius: 10px;
padding: 5px 10px;
margin-bottom: 5px;
margin-top: 2px;
background-color: #fff;
border: 0px;
}

a.list-group-item:hover, a.list-group-item:focus {
color: #f2f2f2;
background-color: #5bc0de;
}

.list-group-item:first-child {

margin-left: 25%;
margin-top: 5%;
}

.list-group-item:last-child {

}

.filter_types{
background-color: #ECE9E8;
height: auto;
margin-bottom: 10px;
padding: 10px;
padding-left: 15px;
margin-top: 10px;
padding-bottom: 20px;
}

hr {
margin-top: 15px;
margin-bottom: 15px;
border: 0;
border-top: 1px solid #CDCDCD;
}

.dropdownlist{
height: 30px;
width: 100%;
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 2%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#modal-background-subcategory-innerdiv{
text-align: center;
background-color: #E5E5E5;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
position: absolute;
left: 0px;
top: 75px;
height: 75vh;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
}

#md-bg-services-plus-sys-level-innerdiv{
text-align: center;
background-color: #E5E5E5;
margin-bottom: 10%;
position: absolute;
left: 35%;
top: 75px;
height: 75vh;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
}

#modal-background-subcategory, #md-bg-services-plus-sys-level{
display: none;
height: 100%;
width: 100%;
position: absolute;
left: 0px;
top: 0px;
}

.modal_ahrefclick{
color: #f2f2f2;
background-color: #5bc0de;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.bootstrap-tagsinput { width: 100%; }

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.tt-dropdown-menu {
position: relative !important;
float: right !important;
padding-top: 10px !important;
cursor: pointer !important;
}

.user_dash_left_pane{
width: 22%;
padding-left: 15px;
padding-right: 10px;
float: left;
margin-bottom: 40px;
}

.user_dash_mid_pane{
width: 50%;
padding-left: 5px;
float: left;
}

.user_dash_right_pane{
width: 28%;

padding-left: 0px;
padding-right: 0px;
margin-left: -15px;
float: left;
}

.user-dashboard-settings{
width: auto;
}

.main_content_page{
background: #eeeeee;
}

.profile_info_adjust{
    padding-left: 10px;
    padding-right: 10px;
	margin: 0px;
}


.time_info_adjust{
padding: 0px;
  margin: 0px;
  text-align: right;
  }
  
  a {
  color: #9D9D9D;
  }
  
  a:hover, a:focus {
  color: #6D6D6D;
  text-decoration: underline;
}

.address_adjust, .comments_adjust, .status_adjust{
font-size: 10px;
padding:0px;
margin: 0px;
}

.comments_adjust{
text-align: center;
}

.status_adjust{
text-align: right;
}

.username_color{
color: #333;
}

.share_buttons_adjust{
padding: 0px;
}

.category_title_adjust, .descriptio_adjust, .list_row_footer_adjust{
	padding-top: 5px;
	padding-bottom: 5px;
}

.header_views_div_adjust{
margin: 0px;
background: #FFFFFF;
padding: 10px;
text-align: center;
text-decoration: none;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 10px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 10px 1px rgba(50, 50, 50, 0.2);
}

.header_views_div_adjust:hover, .header_views_div_adjust:active, .header_views_div_adjust:focus{
background: #F5F5F5;
}

.map_panel_buttons_adjust{
margin: 0px;
  padding: 0px;
  font-size: 13px;
}