
.politician_image{
width: 200px;
height: 200px;
max-width: 200px;
max-height: 200px;
border: 1px solid #D8D8D8;
border-radius: 15px;
}

.mla-profile{
text-align: center;
margin-bottom: 35px;
}

.center-align{
text-align: center;
}

.blue_color_text{
color: #428bca;
}

.red_orng_clr_text{
color: #FF3100;
font-weight: 700;
}

.grey_text{
color: #777;
}

.leader-profile-pic{
width: 90px;
float: left;
border: 1px solid #ccc;
border-radius: 10px;
}

.leader_profile_edu{
background-color: #A9E4F9;
height: 130px;
margin-bottom: 10px;
padding-left: 15px;
padding-top: 5px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
position: relative;
}

.leader_profile_stats{
background-color: #ECE9E8;
height: 130px;
margin-bottom: 10px;
padding-left: 15px;
padding-top: 5px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
position: relative;
}

.leader_profile_pic_bio{
background-color: #5bc0de;
height: 130px;
margin-top: 25px;
text-align: center;
padding: 15px;
font-size: 13px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

.name-top-adjust{
margin-top: 10%;
margin-bottom: 10%;
}

.complaints_followers_counter{
text-align: center;
height: 50px;
position: absolute;
bottom: 10px;
}

.leader_last_active{
clear: both;
float:left;
font-size: 12px;
margin-right: 20px;
margin-left: 10px;
}

.leader_total_complaints{
float:left;
font-size: 12px;
margin-right: 20px;
}

.leader_followers{
float: left;
font-size: 12px;
margin-right: 20px;
}

.filter_types{
background-color: #ECE9E8;
height: auto;
margin-bottom: 10px;
padding: 10px;
padding-left: 15px;
margin-top: 10px;
border-radius: 10px;
padding-bottom: 20px;
}

hr {
margin-top: 15px;
margin-bottom: 15px;
border: 0;
border-top: 1px solid #CDCDCD;
}

.dropdownlist{
height: 30px;
background-color: #FD6B37;
color: #FFFFFF;
border-radius: 10px;
width: 100%;
}

.filter_citzn_serv, .filter_sys_lvl, .filter_temporal, .filter_spatial  {
color: #FF3100;
}

.leader_page_left_pane .left_filter  .subcat-search, .advanced-filter-subcategory, .advanced-filter-citzn-serv, .leader_page_left_pane .left_filter .filter_category{
color: #FF3A00;
}

.advanced-filter-subcategory, .advanced-filter-citzn-serv{
cursor: pointer !important;
}

.leader_page_left_pane .left_filter {
clear: both;
}


