body {
padding: 40px 0 0px 0;
}

.politician_image{
width: 200px;
height: 200px;
max-width: 200px;
max-height: 200px;
border: 1px solid #D8D8D8;
border-radius: 15px;
}

.mla-profile{
text-align: center;
margin-bottom: 35px;
}

.center-align{
text-align: center;
}

.blue_color_text{
color: #428bca;
}

.red_orng_clr_text{
color: #266dd3;
font-weight: 700;
}

.grey_text{
color: #777;
}

.leader-profile-pic{
width: 90px;
float: left;

}

.leader_profile_edu{
background-color: #A9E4F9;
min-height: 100px;
padding-left: 15px;
padding-top: 5px;
position: relative;
margin-bottom: -10px;
}

.leader_profile_stats{
background-color: #ECE9E8;
min-height: 100px;
margin-bottom: 10px;
padding-left: 15px;
padding-top: 5px;

position: relative;
}

.mla_related_videos{
background-color: #ECE9E8;
min-height: 100px;
margin-bottom: 45px;
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 15px;

position: relative;
margin-top: 5px;
}

.leader_profile_pic_bio{

height: 130px;
margin-top: 25px;
text-align: center;
padding: 15px;
padding-right: 2px;
font-size: 13px;

}

.name-top-adjust{
margin-top: 9%;
margin-bottom: 9%;
}

.complaints_followers_counter{
text-align: left;
}

.leader_last_active{
clear: both;
float:left;
font-size: 12px;
margin-right: 20px;
margin-left: 10px;
}

.leader_total_complaints{
float:left;
font-size: 12px;
margin-right: 20px;
}

.leader_followers{
float: left;
font-size: 12px;
margin-right: 20px;
}

.list-group-item {
position: relative;
display: inline-block;

padding: 5px 10px;
margin-bottom: 5px;
margin-top: 2px;
background-color: #fff;
border: 0px;
}

a.list-group-item:hover, a.list-group-item:focus {
color: #f2f2f2;
background-color: #5bc0de;
}

.list-group-item:first-child {

margin-left: 25%;
margin-top: 5%;
}

.list-group-item:last-child {

}

.filter_types{
background-color: #ECE9E8;
height: auto;
margin-bottom: 10px;
padding: 10px;
padding-left: 15px;
margin-top: 10px;

padding-bottom: 20px;
}

hr {
margin-top: 15px;
margin-bottom: 15px;
border: 0;
border-top: 1px solid #CDCDCD;
}

.dropdownlist{
height: 30px;
background-color: #FD6B37;
color: #FFFFFF;
border-radius: 10px;
width: 100%;
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 2%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#modal-background-subcategory-innerdiv{
text-align: center;
background-color: #E5E5E5;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
position: absolute;
left: 0px;
top: 75px;
height: 75vh;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
}

#md-bg-services-plus-sys-level-innerdiv{
text-align: center;
background-color: #E5E5E5;
margin-bottom: 10%;
position: absolute;
left: 35%;
top: 75px;
height: 75vh;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
}

#mla-bio-data-modal-innerdiv{
text-align: center;
background-color: #E5E5E5;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
position: absolute;
left: 0px;
top: 75px;
height: 75vh;
overflow: auto;
padding-left: 20px;
padding-right: 20px;
}

#modal-background-subcategory, #md-bg-services-plus-sys-level, #mla-bio-data-modal{
display: none;
height: 100%;
width: 100%;
position: absolute;
left: 0px;
top: 0px;
}

.modal_ahrefclick{
color: #f2f2f2;
background-color: #5bc0de;
}

.bootstrap-tagsinput {
  background-color: #fff;

  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
 
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.bootstrap-tagsinput { width: 100%; }

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.tt-dropdown-menu {
position: relative !important;
float: right !important;
padding-top: 10px !important;
cursor: pointer !important;
}

.filter_citzn_serv, .filter_sys_lvl, .filter_temporal, .filter_spatial  {
color: #FF3100;
}

.leader_page_left_pane .left_filter  .subcat-search, .advanced-filter-subcategory, .advanced-filter-citzn-serv, .leader_page_left_pane .left_filter .filter_category{
color: #FF3A00;
}

.advanced-filter-subcategory, .advanced-filter-citzn-serv{
cursor: pointer !important;
}

.leader_page_left_pane .left_filter {
clear: both;
}

.leader_curr_stat{
text-align: left;
}

.carousel-control {
margin-top: 40px;
margin-bottom: 40px;
}

.platform_constituency_counter{
background-color: #ECE9E8;
height: auto;
margin-bottom: 10px;
padding: 10px;
padding-left: 15px;
margin-top: 10px;
border-radius: 10px;
}

.total_cons_population,.total_cons_area,.total_voters,.total_const_count,.total_eswaraj_reg_voters,.total_eswaraj_const_coverage{
font-size: 12px;
margin-right: 20px;
}

.p_c_counter_loc{
font-weight: 700;
width: 100%;
margin: 0px;
margin-bottom: 8px;
}

.eswaraj-int-facebook{
background-color: #ECE9E8;
border-radius: 10px;
}

.list-group{
margin-bottom: 10px;
}

#twitter-widget-0 {
margin-top: 10px;
}

/*list row starts*/
.list-row {
    padding: 0;
    border-bottom: 1px solid #ccc;
	min-height: 55px;
	height: 55px;
	width: 100%;
	float: left;
	position: relative;
	background-color: #FFF;
}

.list-row:hover {
background-color: #f9f9f9;
}

.list-row .innerblock {
    padding: 5px 1px 5px 1px;
}

.profile_pic_adjust{
    padding-left: 5px;
    padding-right: 0px;
    margin-right: 0px;
}

.list-row .innerblock .profile_pic_adjust {
	margin-top: -0.5%;
}

.list-row .innerblock .profile-pic img {
    max-width: 40px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.list-row .innerblock .profile-pic{
	margin-top: 20%;
}

.list-row .innerblock .profile-info {
    overflow: hidden;
    margin: 0px;
	padding: 0px;
	margin-top: -0.2%;
	margin-left: 25px;
}

.profile_info_adjust{
float: left;
overflow: hidden;
}
	
.text-limit{
	text-decoration: none;
	font-size: 14px;
	display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	padding-right: 3px;
	}

.issue-id, .connector {
	padding-right: 0px;
}	
	
.username_adjust{
	border-right: 2px solid #ccc;
}
	
.issue-scope{
	font-weight: 700;
	border-right: 2px solid #ccc;
}

.issue-scope-type{
	border-right: 2px solid #ccc;
}

.issue-type-pic{
    max-width: 25px;
    width: auto;
    height: auto;
}

.location_adjust{
	max-width: 50%;
	width: 50%;
	border-right: 2px solid #ccc;
}

.comment_content_adjust{
	max-width: 35%;
	width: 35%;
}

.timeago{
}

.icon_resize{
width:25px;
height:25px;
}

.posttimestatus{
	max-width: 20px;
    width: auto;
    height: auto;
}

abbr[title], abbr[data-original-title] {
cursor: auto;
border-bottom: 0px dotted #777; 
}
abbr[title] {
border-bottom: 0px dotted;
}

.profile_pic_adjust{
    width: 5%;
}

.glyph_right_float{
float:right;
margin-top: 2.5%;
font-size: 15px;
margin-right: 0.5%;
cursor: pointer;
}

.list-row a{
text-decoration:none;
}

/*list row inner div starts*/
.innerdiv-list-row {
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    min-height: 125px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	position: relative;
}
	
.innerdiv-box-shadow{
	-webkit-box-shadow: inset 1px 1px 660px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 60px 1px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 60px 1px rgba(0,0,0,0.75);
}

.innerdiv-innerblock {
padding: 5px;
}

.innerdiv-issue-info .issue-title{
text-align: center;
margin-bottom: 0px;
}

.innerdiv-issue-info  {
    margin-left: 75px;
    margin-right: 75px;
	margin-top: 10px;
}
.innerdiv-issue-info .desc {
    margin-top: 8px;
    margin-bottom: 15px;
	word-wrap: break-word;
}
.innerdiv-issue-info .desc.elipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
	text-align: justify;
    text-justify: inter-word;
	word-wrap: break-word;
}

.innerdiv-issue-scope{
	text-decoration: none;
	font-size: 22px;
    font-family: New Century Schoolbook, serif;
	margin-right: 5px;
	padding-right: 20px;
}

a:active, a:focus , a:hover {
text-decoration: none;
}

#load_comments_box{
margin: 0px 75px 20px 75px;
}
#comments_box{
margin-top: 10px;
margin-bottom: 20px;
}

.profile-pic-comments img {
    max-width: 30px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 0px solid #ccc;
	float: left;
}

#old_comments_block{
	clear: both;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c3c3c3;
}

.comments_whom {
    font-size: 15px;
    line-height: 200%;
	float: left;
	padding-left: 8px;
}

.comments-info{
	clear: both;
	padding-top: 5px;
}

.comments_controller{
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	padding: 5px;
	background-color: #66CCCC;
	color: #000;
    text-decoration:none; !important
}

.comments_controller:hover, .comments_controller:active
{
    text-decoration: none;
	background-color: #FF9F64;
	color: #513D3D;
}

#show_full_comments_page{
margin-top: 20px;
padding-bottom: 15px;
clear: both;
}

.glyph_adjust, .posttimestatus_adjust, .issue-type-pic{
	vertical-align: top;
}

.issue-scope-status{
	color: red;
	border-right: 2px solid #ccc;
	max-width: 13%;
	width: 13%;
}

.text-footer{
	padding-bottom:9px;
	width:180px;
	margin:20px 0 10px;
	border-bottom:2px solid #ccc;
	color:#FF9933;
	
}

.footer_pos{
position: absolute;
bottom: 0px; 
width: 100%; 
}

.refresh_button{
height: 30px;
line-height: 10px;
width: 80px;
margin-top: 10px;
margin-left: 25%;
padding: 10px 15px;
}

.dlist_width{
width: 100%;
}

.listing-wrapper {
padding: 5px 0px 15px 15px;
margin-top: 0px;
background-color: #FFF;

}

.listing{
max-height: 500px;
overflow: auto;
}

.col-sm-6 {
padding: 0px;
}

.about-mla {
overflow: hidden;
background-color: #FFF;
margin-top: 25px;
border-radius: 10px;
text-align: center;
padding: 0px;
text-align: center;
}

.knw_mla{
padding-top: 10px;
margin: 0px;
padding-bottom: 10px;
background-color: #a9e4f9;
}

.about-mla.hidden-xs .desc-wrapper{
padding: 5px;
}

.mla_comm_feed{
text-align: center;
padding-top: 10px;
margin: 0px;
padding-bottom: 10px;
background-color: #a9e4f9;
margin-top: 10px;

}

.mla_calendar_head{
text-align: center;
padding-top: 10px;
margin: 0px;
padding-bottom: 10px;
background-color: #a9e4f9;
margin-top: 25px;

}

.btn-info {
background-repeat: repeat-x;
border-radius: 10px;
font-size: 11px;
padding: 4px;
margin-left: 5px;
float: left;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
color: #080808;
}

.cal_contents{
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding: 0px 10px 0px 10px;
}

.mla_cal_contents{
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background: #FFF;
}

